@model Inyama_Yethu.Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Delete Employee</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Admin">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Employees</a></li>
        <li class="breadcrumb-item active">Delete</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user-times me-1"></i>
            Confirm Deletion
        </div>
        <div class="card-body">
            <div class="alert alert-danger">
                <h4>Are you sure you want to deactivate this employee?</h4>
                <p>This will mark the employee as inactive but preserve their records.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FullName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FullName)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.JobTitle)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.JobTitle)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DateOfBirth)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.DateOfBirth)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.HireDate)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.HireDate)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Address)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.IsActive)</dt>
                        <dd class="col-sm-8">
                            @if (Model.IsActive)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Inactive</span>
                            }
                        </dd>
                    </dl>
                </div>
            </div>

            <form asp-action="Delete" class="mt-3">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-user-times"></i> Deactivate Employee
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </form>
        </div>
    </div>
</div> 